@import "web_variables";
@import "web-header";

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: $base-template-rows;
  grid-template-columns: $base-template-columns;
  grid-template-areas: $base-template-areas;
  background: var(--background-image) no-repeat;
  background-size: cover;
  background-origin: border-box;
}
